# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env
.env.*

# Java
target/
build/
out/
.gradle/
bin/

# Node
node_modules/
dist/

# Coverage
coverage/

# Temporary
tmp/
temp/